beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
geographiclib==2.0
geopy==2.4.1
idna==3.7
lxml==5.2.2
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.0.1
pandas==2.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
rich==13.7.1
six==1.16.0
sodapy==2.2.0
soupsieve==2.5
tzdata==2024.1
urllib3==2.2.2
